server:
  http:
    addr: 0.0.0.0:8157
  grpc:
    addr: 0.0.0.0:9000
doc:
  host: "${DOC_HOST}"
  version: "1.0"
data:
  database:
    driver: mysql
    source:
  redis:
    addr: 127.0.0.1:6379
    read_timeout: 0.2s
    write_timeout: 0.2s
logs:
  - name: data-application-gateway
    default: true
    enable_caller: true
    stacktrace_level: error
    development: true
    cores:
      - destination: stdout
        core_type: stdout
        output_format: json
        log_level: info
      - destination: stderr
        core_type: stdout
        output_format: json
        log_level: error
      - destination: console
        core_type: stdout
        output_format: console
        enable_color: true
        log_level: warn

database:
  dbtype: "${DB_TYPE}"
  host: "${DB_HOST}"
  port: "${DB_PORT}"
  username: "${DB_USERNAME}"
  password: "${DB_PASSWORD}"
  database: "${DB_NAME}"
  max-idle-connections: 5
  max-open-connections: 50
  max-connection-idle-time: 300
  max-connection-life-time: 900
  loglevel: 2
  isdebug: false
  tableprefix: ""

telemetry:
  logLevel: "${LOG_LEVEL}"
  traceUrl: "${TRACE_URL}"
  logUrl: "${LOG_URL}"
  serverName: "${SERVER_NAME}"
  serverVersion: "${SERVER_VERSION}"
  traceEnabled: "${TRACE_ENABLED}"

redis:
  host: "${REDIS_HOST}"
  password: "${REDIS_PASSWORD}"
  master_name: "${REDIS_MASTER_NAME}"

# 微服务的 url 地址
services:
  virtual_engine: "${VIRTUAL_ENGINE}" #虚拟化引擎
  data_catalog: "${DATA_CATALOG}" #数据资源目录
  data_view: "${DATA_VIEW}" #数据视图
  metadata_manage: "${METADATA_MANAGE}" #元数据平台
  configuration_center: "${CONFIGURATION_CENTER}" #配置中心
  glossary_service: "${GLOSSARY_SERVICE}" #业务术语
  hydra_admin: "${HYDRA_ADMIN}" # 授权服务
  user_management: "${USER_MANAGEMENT}" # 用户服务
  workflow_rest: "${WORKFLOW_REST}" # 流程服务
  data_application_service: "${DATA_APPLICATION_SERVICE}" # 接口服务
  basic_search: "${BASIC_SEARCH}" # 搜索服务
  auth_service: "${AUTH_SERVICE}" # 权限服务
