# 名称空间，服务都要在同一个空间。
namespace: anyshare

labels:
  deployment:
    name: data-application-gateway-deployment
  pod:
    app: data-application-gateway-pod
  service:
    app: data-application-gateway-service


image:
  registry: acr.aishu.cn
  repository: af/data-application-gateway
  tag: "1.0.0-alpha"
  pullPolicy: IfNotPresent


replicaCount: 1


name: data-application-gateway-deployment

nodeSelector: []

service:
  name: data-application-gateway
  type: ClusterIP
  port: 8157
  version: 1.0.0
  telemetry:
    log:
      enabled: true
      endpoint: http://feed-ingester-service:13031/api/feed_ingester/v1/jobs/job-4d42d761dbf0ea95/events
      level: error
    trace:
      enabled: true
      endpoint: http://feed-ingester-service:13031/api/feed_ingester/v1/jobs/job-a2491f67d02e482c/events

doc:
  host: "127.0.0.1:8000"
  version: "1.0"

config:
  logPath: ./logs

depServices:
  class-443:
    ingressClass: class-443
  rds:
    type: mariadb
    host: mariadb-mariadb-master.resource
    port: 3330
    user: anyshare
    password: eisoo.com123
    database: data_application_service
  redis:
    host: proton-redis-proton-redis-sentinel.resource:26379
    password: eisoo.com123
    master_name: mymaster
  mq:
    kafka:
      type: kafka
      host: kafka-headless.resource
      port: 9097
      lookupdHost: kafka-headless.resource
      lookupdPort: 9097
      username: kafkaclient
      password: eisoo.com123
      mechanism: PLAIN
    nsq:
      type: nsq
      host: proton-mq-nsq-nsqd.resource
      port: 4151
      lookupdHost: proton-mq-nsq-nsqlookupd.resource
      lookupdPort: 4161
  configCenterService:
    host: configuration-center
    port: 8133
  userManageService:
    host: user-management-private
    port: 30980
  hydraService:
    host: hydra-admin
    port: 4445
    clientId: 109be1e1-72c0-4137-8484-813b14be5e21
    clientSecret: Si4iZL.ZZ1JO
  metaDataManageService:
    host: af-vega-metadata
    port: 80
  virtualizationEngine:
    protocol: http
    host: data-connection
    port: 8098
  dataCatalog:
    host: data-catalog
    port: 8153
  dataView:
    host: data-view
    port: 8123
  glossaryService:
    host: glossary-service
    port: 8183
  workflowRest:
    host: workflow-rest
    port: 9800
  dataApplicationService:
    host: data-application-service
    port: 8156
  basicSearch:
    host: basic-search
    port: 8163
  authService:
    host: auth-service
    port: 8155
  oss:
    ossApp: af
    ossHost: ossgatewaymanager-private:9002
    ossProtocol: http
    ossIsDefault: true
    ossBucket: afstorage

resources:
  requests:
    cpu: 0.1
    memory: 10Mi
  limits:
    cpu: 500m
    memory: 1024Mi
